			<ul class="nav nav-pills nav-stacked navbar-fixed-top">

				<!-- Astronaut: Find, Insert, Update, Delete -->
				<li role="presentation">
					<a href="#">
						<form method="post" action="astro">
							<button id="hidden-form">Astronaut</button>
							<input type="hidden" name="" id="">
						</form>
					</a>
				</li>

				<!-- Company: Find (Crew names, AstroIDs), Find(aggregate cargo value), Find (Rocket by company), Find (Rocket by weight) -->
				<li role="presentation">
					<a href="#">
						<form method="post" action="company">
							<button id="hidden-form">Company</button>
							<input type="hidden" name="" id="">
						</form>
					</a>
				</li>

				<!-- Shipment: Find (shipment), Find (departed Shipments), Insert (Reservation), Find (require assistance, invoice) -->
				<li role="presentation">
					<a href="#">
						<form method="post" action="shipment">
							<button id="hidden-form">Shipment</button>
							<input type="hidden">
						</form>
					</a>
				</li>

				<li role="makeReservation">
					<a href="#">
						<form method="post" action="reservation">
							<button id="hidden-form">Reservation</button>
							<input type="hidden"/>
						</form>
					</a>
				</li>

			</ul>