<!DOCTYPE HTML>
<!--
	Eventually by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Eventually by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/tables.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<!-- <header id="header">
				<h1>Mars Space Port Administration</h1>
				<p>Brought to you by Elon Musk.</p>
			</header> -->

		<!-- Side nav bar -->
			<ul class="nav nav-pills nav-stacked">
			  	<li role="presentation"><a href="#"><form method="post" action="astro"><button>Astronaut</button></form></a></li>
  				<li role="presentation"><a href="#">Crew</a></li>
				<li role="presentation"><a href="#">Company</a></li>	
				<li role="presentation"><a href="#">Astronaut</a></li>
                                <li role="presentation"><a href="#">Crew</a></li>
                                <li role="presentation"><a href="#">Company</a></li>
				<li role="presentation"><a href="#">Astronaut</a></li>
                                <li role="presentation"><a href="#">Crew</a></li>
                                <li role="presentation"><a href="#">Company</a></li>
			</ul>

		<!-- Query Form and result-->
			<div class="panel panel-transparent">
			<div class="panel-heading">
			<form id="query-form" method="post" action="astro">
				<input type="text" pattern="[0-9]{0,100}" name="AstroID" id="AstroID" placeholder="AstroID" />
				<input type="text" name="Name" id="Name" placeholder="Name" />
				<input type="submit" value="Find" />
			</form>
			</div>
			
			<table class="table">
			<tr><td>AstroID</td><td>Name</td></tr>
			<% for(var i=0; i < table.length; i++) { %>
   			<tr>
     			<td><%= table[i].AstroID %></td>
     			<td><%= table[i].Name %></td>
			<td><form method="post" action="deleteAstro"><input type="hidden" name="AstroID" id="AstroID" value=<%= table[i].AstroID %>>
			<button id="delete">delete</button></form></td>
   			</tr>
			<% } %>
			</table>
			
			</div>
		<!-- Footer
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled.</li><li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer> -->

		<!-- Scripts -->
			<script src="assets/js/main.js"></script>

	</body>
</html>
