<div class="panel panel-transparent">
        <div class="panel-heading">
        <form id="query-form" method="post" action="rocketByCapacity">
            <input type="text" name="Capacity" id="Capacity" placeholder="Capacity" />
            <input type="submit" value="Find" />
        </form>
        </div>